body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

#board {
   /* background-color: lightblue; */
    background-image: url("https://github.com/ImKennyYip/flappy-bird-python/blob/master/flappybirdbg.png?raw=true");
}